*{
    box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'arial';
	
	
	
}
.contenedor{
	color: rgba(128, 255, 0, 0.884);
	display: grid;
	grid-template-columns: 1fr 1Fr;
	background: #345;
}

.contenedor-grafico{
	grid-column: 1/3;
}

header{
	color: #345;
	grid-column: 1/3;
	background: rgba(128, 255, 0, 0.884);
}

.flex-container{
	display: flex;
	justify-content: center;
	
	flex-wrap: wrap;

}

.flex-container > h2{
	display: block;

}

.caja{
	margin-top: 20px;
	display: inline-block; 
	border: double;
	border-radius: 10px;
	text-align: center; 
	padding: 5px; 
	width: 130px; 
	height: 130px; 
	box-shadow: 1px 2px 1px 0 grey; 
	margin: 5px;
}

.valor{
	font-size: 35px;
	line-height: 2; 
	margin: 0; 
	padding: 0;

}

#graficos{
	width: 80%;
	height: 300px;
	background: rgba(51, 68, 85, 0.555) ;
	
}

.sala{
	
	margin: 10px;
	border: 1px dotted black;
}